## .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Visual Studio cache/options directory
.vs/
