@use '@angular/material' as mat;
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@include mat.core();

$theme: mat.define-theme();

:root {
  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
